#container{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr 3fr 1.5fr;
    grid-template-rows: 5vh 12.5vh 5vh 25vh 5vh 25vh 5vh 12.5vh 5vh;
}

#container .titulo{
    grid-row: 2/3;
    grid-column: 2/5;
    text-align: center;
}

#container .pie{
    grid-row: 8/9;
    grid-column: 2/5;
    text-align: center;
}

#container .imagen1{
    grid-row: 6/7;
    grid-column: 4/5;
    border: 0px solid orangered;
    
}

#container .imagen1 img{
    height: 100%;
    width: 90%
 
}

#container .imagen2{
    grid-row: 4/5;
    grid-column: 2/3;
}


#container .text1{
    grid-row:6/7;
    grid-column: 2/3;
}

#container .text2{
    grid-row: 4/5;
    grid-column: 4/5;
}

img{
    width: 60%;
    height: 100%;
}